<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="path" value="C:\Temp\filesFromDB_1"/>
    <add key="classOne" value="Irrelevant"/>
    <add key="classTwo" value="Relevant"/>
  </appSettings>
</configuration>